.Python
.venv/
__pycache__/
*.pyc
.env
pip-selfcheck.json
test/
lambda_function.zip
package/

# Google Cloud credentials
vision-api-project*.json
google-vision*.json
*credential*.json
*.jpg
*.jpeg
*.png
*.zip